.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $tablet) {
        justify-content: center;
        flex-wrap: wrap;
    }
}

.footer-container__text {
    @include font($font-IR);

    margin: 10px;
    color: $color--white;
}