header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
    @media (max-width: $tablet) {
        flex-direction: column;
    }
}

.header__icon {
    @include size_block(50px, 50px);
}

.list-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}