.cards-container {
    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    background-image: url(../assets/img/forest/forest.jpg);
    background-repeat: no-repeat;
}

.cards-container__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 35px;
    padding: 15px;
    border:  2px solid $color--main;
    background-color: rgba($color: $color--black, $alpha: 0.7);
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s linear, visibility 1s linear, transform 1s;

    &:hover {
        transform: scale(1.1);
    }

    @media (max-width: $mobile) {
        &:hover {
            transform: none
        }
    }
}

.cards-container__image {
    @include size_block(200px, 200px);

    border-radius: 10%;
    transition: 1s;

    &:hover {
        transform: scale(1.5);
    }

    @media (max-width: $mobile) {
        &:hover {
            transform: none
        }
    }
}

.cards-container__description {
    @include font($font-IR, 20px);

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
    color: $color--white;

    @media (max-width: $mobile) {
        text-align: center;
    }
}

.cards-container__text{
    @include font($font-IB, 20px);

    margin: 10px 0;
    color: $color--main;

    @media (max-width: $desktop) {
        text-align: center;
    }
}

.cads-container__description-text {
    margin: 5px 0;
    
    @media (max-width: $desktop) {
        text-align: center;
    }
}

.show {
    opacity: 1;
    visibility: visible;
}
