$font-IR: "InterRegular", sans-serif;
$font-IB: "InterBold", sans-serif;
$font-MB: "MerriweatherBold", serif;
$font-MR: "MerriweatherRegular", serif;
$mobile: 322px;
$desktop: 1440px;
$tablet: 770px;
$intermediate: 480px;
$tv-size: 1400px;
$text-color--main: #BDAE82;
$text-color--white: white;
$bg-color--black: black;

@mixin size_block($width, $height) {
    width: $width;
    height: $height;
}

@mixin font($font, $size, $line) {
    font-family: $font;
    font-size: $size;
    line-height: $line;
}

@mixin flex_block($direction) {
    display: flex;
    flex-direction: $direction;
}

@mixin bg-svg_item($svgTitle) {
    background-image: url("./assets/svg/"+$svgTitle+".svg");
    background-size: 62px 50px;
}

@mixin bg_header-hero($nameImage, $position) {
    background: url("./assets/img/"+$nameImage+".jpg");
    background-position: center $position;
    background-repeat: no-repeat;
}