.container-title {
  @include size_block(49%, 63px);
   
  text-align: center;
  margin: 0 auto 60px;
  background-image: linear-gradient(to top, $bg-color--transparent 39px, $text-color--main 39px, $text-color--main 41px, $bg-color--transparent 41px);
  color: $text-color--main;

  @media (max-width: $tablet)  {
    margin: 0 auto 45px;
  }
}
  
.container-title__name {
  @include font($font-MB, 40px, 40px);

  display: inline-block;
  padding: 0 20px;
  background-color: $bg-color--black;

  @media (max-width: $tablet)  {
    @include font($font-MB, 32px, 44px);
  }
}