header {
    @include size_block(100%, 100px);

    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: $color--secondary;
}

.header__title {
    position: relative;
    color: #0e3742;
    margin: 5px 0;
    text-transform: uppercase;
    text-align: center; 

    span {
      animation: pulse-gold 2s ease-in-out infinite alternate;
      color: #ffffff;
    }

    @media (max-width: $tablet) {
        display: none;
    }
}

@keyframes pulse-gold {
    0% {
      transform: scale(0.95);
      text-shadow: 0 0 0px $color--gold;              
    }
    
    100% {
      transform: scale(1);
      
      text-shadow: 0 0 50px $color--gold;
    }
  }