.video-container__player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container {
    margin-bottom: 118px;
}

.video-player {
    width: 97%;

    @media (max-width: $tablet)  {
        width: 100%;
        content: url(./assets/img/bg-tablet-video-player.jpg);
    }
}

.video-container__svg {
    @include size_block(130px, 130px);

    @media (max-width: $tablet)  {
        @include size_block(65px, 65px);
    }
}

.video-container__title_bottom {
    margin-bottom: 50px;
}