@font-face {
  font-family: PoppinsRegular;
  src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
  font-family: InterBold;
  src: url(../assets/fonts/Inter-Bold.ttf);
}

.logo {
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

.logo:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.icon {
  width: 25px;
  height: 25px;
  fill: #bdae82;
}

.icon:hover {
  fill: #ffffff;
  -webkit-filter: drop-shadow(0 0 2px #bdae82);
          filter: drop-shadow(0 0 2px #bdae82);
}

.link {
  width: 50px;
  height: 50px;
  fill: #bdae82;
}

.link:hover {
  fill: #ffffff;
  -webkit-filter: drop-shadow(0 0 2px #bdae82);
          filter: drop-shadow(0 0 2px #bdae82);
}

.link_size {
  width: 100px;
  height: 50px;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.search-form__input {
  font-family: "PoppinsRegular", sans-serif;
  font-size: 1em;
  padding: 15px 50px 15px 15px;
  border: 2px solid #bdae82;
  border-radius: 50px;
  background-color: transparent;
  color: #bdae82;
}

.search-form__input:focus {
  background-color: #1d2733;
}

.search-form__input:focus-visible {
  outline: transparent;
}

.search-form__input::-webkit-input-placeholder {
  color: #bdae82;
}

.search-form__input:-ms-input-placeholder {
  color: #bdae82;
}

.search-form__input::-ms-input-placeholder {
  color: #bdae82;
}

.search-form__input::placeholder {
  color: #bdae82;
}

.search-form__button-remove {
  position: absolute;
  right: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "PoppinsRegular", sans-serif;
  font-size: 20px;
  margin: 0;
  background-color: #1d2733;
}

header {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #243448;
}

.header__title {
  position: relative;
  color: #0e3742;
  margin: 5px 0;
  text-transform: uppercase;
  text-align: center;
}

.header__title span {
  -webkit-animation: pulse-gold 2s ease-in-out infinite alternate;
          animation: pulse-gold 2s ease-in-out infinite alternate;
  color: #ffffff;
}

@media (max-width: 680px) {
  .header__title {
    display: none;
  }
}

@-webkit-keyframes pulse-gold {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    text-shadow: 0 0 0px #bdae82;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    text-shadow: 0 0 50px #bdae82;
  }
}

@keyframes pulse-gold {
  0% {
    -webkit-transform: scale(0.95);
            transform: scale(0.95);
    text-shadow: 0 0 0px #bdae82;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    text-shadow: 0 0 50px #bdae82;
  }
}

.section-recently {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
}

.section-recently__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-recently__title-text {
  position: relative;
  color: #0e3742;
  margin: 5px 0;
  text-transform: uppercase;
  text-align: center;
}

.section-recently__title-text span {
  color: #ffffff;
  text-shadow: 0 0 10px #bdae82, 0 0 20px #bdae82;
}

.buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.buttons-wrapper__button {
  font-family: "PoppinsRegular", sans-serif;
  font-size: 1em;
  padding: 15px;
  margin: 5px;
  border: 2px solid #bdae82;
  border-radius: 50px;
  background-color: transparent;
  color: #bdae82;
  cursor: pointer;
}

.buttons-wrapper__button:hover {
  color: #ffffff;
  -webkit-box-shadow: 0 0 10px #bdae82;
          box-shadow: 0 0 10px #bdae82;
}

.section-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.cards-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cards-container__card {
  width: 300px;
  position: relative;
  margin: 10px;
  border-radius: 5px;
  border-color: #243448;
  -webkit-box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.5);
  background-color: #243448;
  overflow: hidden;
}

.cards-container__card:hover .cards-container__card-overview {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.cards-container__card-img {
  width: 100%;
  height: 450px;
}

.cards-container__card-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 15px;
}

.cards-container__card-title {
  margin: 0;
  color: #bdae82;
}

.cards-container__card-mark {
  padding: 5px;
  border-radius: 3px;
  background-color: #1d2733;
}

.cards-container__card-mark-green {
  color: lightgreen;
}

.cards-container__card-mark-orange {
  color: orange;
}

.cards-container__card-mark-red {
  color: red;
}

.cards-container__card-overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  overflow-y: auto;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.cards-container__card-year {
  position: absolute;
  right: 5px;
  top: 5px;
  padding: 5px;
  color: #ffffff;
  text-shadow: 0 0 20px #bdae82;
  border-radius: 5px;
  background-color: #1d2733;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  background-color: #243448;
}

@media (max-width: 680px) {
  .footer-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer-container__text {
  font-family: "PoppinsRegular", sans-serif;
  font-size: 20px;
  margin: 10px;
  color: #ffffff;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */