$desktop: 1440px;
$tablet: 680px;
$mobile: 390px;
$font-PR: "PoppinsRegular", sans-serif;
$font-IB: "InterBold", sans-serif;
$color--primary: #1d2733;
$color--secondary: #243448;
$color--gold: #bdae82;
$color--white: #ffffff;

@mixin size_block($width, $height) {
    width: $width;
    height: $height;
}

@mixin font ($font, $size) {
    font-family: $font;
    font-size: $size;
}