@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Merriweather;
    src: url("../assets/fonts/Merriweather-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header{    
    background: url('../assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.header-container__navbar {
    display: flex;
}

.header-container__menu{
    display: flex;
    flex-direction: row;
    width: 470px;
    margin: 32px 0;
}

.header-container__menu li {
    padding-right: 30px;
    list-style-type: none;
}

.header-container__logo {
    margin: 20px;
}

.header-container__link {
    text-decoration: none;
    color: white;
}

.header-container__link:hover {
    color: #BDAE82;
}

.header-container-switch{
    width: 70px;
    height: 50px;
    margin: 33px 20px 7px 0;
    color: white;
}

.header-container-switch__button {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 20px;
    background: none;
    color: white;
    border: none;
}

.header-container-switch__button:hover {
    color: #BDAE82;
}

.header-container-switch__button_checked {
    color: #BDAE82;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.hero-container{
    background-image: url('../assets/img/header-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
}

.hero-container__name{
    font-family: Merriweather, serif;
    font-size: 60px;
    line-height: 120px;
    color: white;
}

.hero-container__introduce {
    display: flex;
    flex-direction: column;
    padding: 160px 860px 330px 80px;
}

.hero-container__text {
    padding-top: 8px;
    margin-bottom: 20px;
    line-height: 42px;
    color: white;
}

.hero-container__button {
    width: 220px;
    height: 55px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
    background: #BDAE82;
    border: none;
}

.hero-container__button:hover {
    background: white;
    color: #BDAE82;
}