@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: Inter;
    src: url("../assets/fonts/Inter-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: Merriweather;
    src: url("../assets/fonts/Merriweather-Bold.ttf");
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header{    
    background: url('../assets/img/header-bg.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.header-container__navbar {
    display: flex;
}

.header-container__menu{
    display: flex;
    flex-direction: row;
    width: 470px;
    margin: 32px 0;
}

.header-container__menu li {
    padding-right: 30px;
    list-style-type: none;
}

.header-container__logo {
    margin: 20px;
}

.header-container__link {
    text-decoration: none;
    color: white;
}

.header-container__link:hover {
    color: #BDAE82;
}

.header-container-switch{
    width: 70px;
    height: 50px;
    margin: 33px 20px 7px 0;
    color: white;
}

.header-container-switch__button {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 20px;
    background: none;
    color: white;
    border: none;
    cursor: pointer;
}

.header-container-switch__button:hover {
    color: #BDAE82;
}

.header-container-switch__button_checked {
    color: #BDAE82;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
    background-color: black;
}

.hero-container{
    background-image: url('../assets/img/header-bg.jpg');
    background-position: center -90px;
    background-repeat: no-repeat;
}

.hero-container__name {
    font-family: Merriweather, serif;
    font-size: 60px;
    line-height: 120px;
    color: white;
}

.hero-container__introduce {
    display: flex;
    flex-direction: column;
    padding: 160px 860px 330px 80px;
}

.hero-container__text {
    padding-top: 8px;
    margin-bottom: 20px;
    line-height: 42px;
    color: white;
}

.button {
    width: 220px;
    height: 55px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
    background: #BDAE82;
    border: none;
    cursor: pointer;
}

.button:hover {
    background: white;
    color: #BDAE82;
}

.skills-container {
    padding-top: 117px;
}

.container-title{
    width: 49%;
    height: 67px;
    text-align: center;
    margin: 0 auto 60px;
    background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px);
    color: #BDAE82;
}

.container-title__name {
    display: inline-block;
    padding: 0 20px;
    font-family: Merriweather, serif;
    font-size: 40px;
    background-color: black;
}

.skills-container__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 20px;
    padding-bottom: 125px;
}

.skills-container__item {
    width: 300px;
    height: 140px;
    padding: 90px 12px 0;
    background-position: center top;
    background-repeat: no-repeat;
  }
  
.skills-container__item:nth-child(1) {
    background-image: url('../assets/svg/camera.svg');
    background-size: 62px 50px;
}

.skills-container__item:nth-child(2) {
    background-image: url('../assets/svg/video.svg');
    background-size: 62px 50px;
}

.skills-container__item:nth-child(3) {
    background-image: url('../assets/svg/image.svg');
    background-size: 62px 50px;
}

.skills-container__item:nth-child(4) {
    background-image: url('../assets/svg/mic.svg');
    background-size: 62px 50px;
}

.skills-container__item-title {
    font-family: Inter, sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    line-height: 53px;
    color: white;
}

.skills-container__item-text {
    display: block;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    line-height: 39px;
    color: white;
}

.portfolio-container__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
}

.portfolio-container__button {
    width: 220px;
    height: 55px;
    margin-right: 5px;
    background-color: transparent;
    border: 2px solid #BDAE82;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #BDAE82;
}

.portfolio-container__button:hover {
    content: "";
    background-color: #BDAE82;
    color: black;
}

.portfolio-container__button_pressed {
    background-color: #BDAE82;
    color: black;
}

.portfolio-container__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 87px;
}

.portfolio-container__image {
    padding: 0 25px 25px 0;
}

.portfolio-container__image:nth-child(3n + 3) {
    padding-right: 0;
}

.video-container__player {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container__button {
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
}

.video-container {
    margin-bottom: 113px;
}

.price-container {
    margin-bottom: 100px;
}

.price-container__cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.price-container__card {
    display: flex;
    flex-direction: column;
    padding: 50px 112px 0;
    margin-right: 25px;
    border: 2px solid #BDAE82
}

.price-container__card:nth-child(3){
    margin-right: 0;
}

.price-container__card-title {
    font-family: Merriweather, serif;
    font-size: 28px;
    text-align: center;
    margin-bottom: 40px;
    color: white;
}

.price-container__price {
    display: block;
    margin-bottom: 35px;
    font-family: Merriweather, serif;
    font-size: 24px;
    text-align: center;
    color: #BDAE82;
}

.price-container__card-description {
    display: flex;
    flex-direction: column;
    margin-bottom: 31px;
    font-family: Inter, sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

.price-container__text{
    display: block;
    text-align: center;
    margin-bottom: 15px;
}

.price-container__button{
    margin-bottom: 40px;
}

