@font-face {
  font-family: InterRegular;
  src: url(../assets/fonts/Inter-Regular.ttf);
}

@font-face {
  font-family: InterBold;
  src: url(../assets/fonts/Inter-Bold.ttf);
}

.icon {
  width: 150px;
  height: 50px;
  fill: #FFFFFF;
  -webkit-transition: 1s;
  transition: 1s;
}

.icon:hover {
  fill: #bdae82;
}

.icon-button {
  width: 50px;
  height: 50px;
  fill: #FFFFFF;
  -webkit-transition: 1s;
  transition: 1s;
}

.icon-button:hover {
  fill: #bdae82;
}

.link {
  font-family: "InterRegular", sans-serif;
  font-size: 20px;
  text-decoration: none;
  color: #FFFFFF;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.link:hover {
  color: #bdae82;
}

.button {
  width: 150px;
  height: 50px;
  font-family: "InterRegular", sans-serif;
  font-size: 20px;
  margin: 10px;
  background-color: transparent;
  border: 2px solid #bdae82;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
  color: #bdae82;
}

.button:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #FFFFFF;
  -webkit-box-shadow: inset 0 0 0 2em #bdae82;
          box-shadow: inset 0 0 0 2em #bdae82;
}

@media (max-width: 940px) {
  .button {
    height: 57px;
  }
}

.button_pressed {
  background-color: #bdae82;
  color: #FFFFFF;
}

.button-play {
  width: 50px;
  height: 50px;
  padding: 0;
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8px;
  background-color: #000000;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

@media (max-width: 940px) {
  header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.logo {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.list-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__title {
  position: relative;
  color: #0e3742;
  text-transform: uppercase;
  text-align: center;
  -webkit-box-reflect: below -40px linear-gradient(transparent, #0004);
}

.header__title span {
  -webkit-animation: animate 5s linear infinite;
          animation: animate 5s linear infinite;
}

.header__title span:nth-child(even) {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}

@-webkit-keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #FFFFFF;
    text-shadow: 0 0 10px #bdae82, 0 0 20px #bdae82, 0 0 40px #bdae82, 0 0 80px #bdae82, 0 0 160px #bdae82, 0 0 400px #bdae82;
  }
}

@keyframes animate {
  0%, 18%, 20%, 50.1%, 60%, 65.1%, 80%, 90.1%, 92% {
    color: #0e3742;
    text-shadow: none;
  }
  18.1%, 20.1%, 30%, 50%, 60.1%, 65%, 80.1%, 90%, 92.1%, 100% {
    color: #FFFFFF;
    text-shadow: 0 0 10px #bdae82, 0 0 20px #bdae82, 0 0 40px #bdae82, 0 0 80px #bdae82, 0 0 160px #bdae82, 0 0 400px #bdae82;
  }
}

.cards-container {
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3px;
  background-image: url(../assets/img/forest/forest.jpg);
}

.cards-container__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 35px;
  padding: 15px;
  border: 2px solid #bdae82;
  background-color: rgba(0, 0, 0, 0.7);
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 1s linear, visibility 1s linear, -webkit-transform 1s;
  transition: opacity 1s linear, visibility 1s linear, -webkit-transform 1s;
  transition: opacity 1s linear, visibility 1s linear, transform 1s;
  transition: opacity 1s linear, visibility 1s linear, transform 1s, -webkit-transform 1s;
}

.cards-container__card:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

@media (max-width: 380px) {
  .cards-container__card:hover {
    -webkit-transform: none;
            transform: none;
  }
}

.cards-container__image {
  width: 200px;
  height: 200px;
  border-radius: 10%;
  -webkit-transition: 1s;
  transition: 1s;
}

.cards-container__image:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (max-width: 380px) {
  .cards-container__image:hover {
    -webkit-transform: none;
            transform: none;
  }
}

.cards-container__description {
  font-family: "InterRegular", sans-serif;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px 0;
  color: #FFFFFF;
}

@media (max-width: 380px) {
  .cards-container__description {
    text-align: center;
  }
}

.cards-container__text {
  font-family: "InterBold", sans-serif;
  font-size: 20px;
  margin: 10px 0;
  color: #bdae82;
}

@media (max-width: 380px) {
  .cards-container__text {
    text-align: center;
  }
}

.cads-container__description-text {
  margin: 5px 0;
}

.show {
  opacity: 1;
  visibility: visible;
}

.footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 940px) {
  .footer-container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer-container__text {
  font-family: "InterRegular", sans-serif;
  font-size: 20px;
  margin: 10px;
  color: #FFFFFF;
}
/*# sourceMappingURL=style.css.map */